body{
	background-color: white;
}

.block-item {
	/*align-content: top;*/
	vertical-align: top;
	padding-top: 0px;
	/*padding-left: 200px;*/
	margin: 10px;
	display: inline-block;
}

.block-item img{
	/*position: absolute;*/
	/*display: inline-block;*/
	width: 150px;
	height: 200px;
}

.block-item h6{
	width: 150px;
	/*display: block;*/
	margin: auto;
	text-align: center;
}

.block-item a{
	color: green;
}

.block-item-detail {
	/*align-content: top;*/
	vertical-align: top;
	padding-top: 0px;
	padding-left: 250px;
	margin: 10px;
	display: inline-block;
}

.mynavbar {
	margin-bottom: 10px;
	background-color: rgba(33, 138, 63, 1);
}

.all-items{
	padding-left: 250px;
	/*background-color: lightgreen;*/
	/*display: inline-flex;*/
	/*justify-content: space-around;*/

}

.my-btn-outline-success{
	color: white;
	border-color: white;
}

.item-parent{
	display: inline-block;
}

.categories-list{
	/*display: inline-block;*/
	position: absolute;
	width: 250px;
	background-color: lightgreen;
	list-style-type: none;
	line-height: 200%;
	/*justify-content: space-between;*/
	/*width: 300px;*/
}

.categories-list a{
	font-size: 20px;
	color: green;
} 